nav {
    text-align: right;
}
nav a{
    color: black;
    font-weight: bold;
}
span{
    color: navy;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}
h1{
    text-align: center;
}
.logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.logo {
  background-color: navy;
  color:white;
  font-size: 24px;
  text-align: center;
  line-height: 100px;
  width: 50px;
  height: 50px;
  border-radius:50%;
}




/* jayashreepage */

img,span,nav,a {
    display: inline;
}

nav {
    margin-left: 60%;
}

a:hover{
    color: lightgrey;
    cursor: pointer;
}


.box {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 1000px;
    
    
}

.first {
    vertical-align: middle;
    width: 250px;
    height: 300px;
    display: inline;
    
}
.one {
    vertical-align: middle;
    display: inline; 
    
}
.cap {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    
    display: inline-block;
    width: 300px;
    height: 400px;
}
.map {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    object-fit: cover;
    display: inline-block;
    width: 300px;
    height: 400px;
}
.arrow {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    display: inline-block;
    width: 300px;
    height: 400px;
}
.idea {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 300px;
    height: 400px;
}
.rocket {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 300px;
    height: 400px;
}
.features {
    text-align: center;
}
.cap {
    margin-right: 100px;
    margin-top: 50px;
    border-radius: 20px;
}
.map {
    margin-left: 100px;
    margin-top: 50px;
    
}
.arrow {
    margin-right: 100px;
    margin-top: 50px;
}
.idea {
    margin-left: 100px;
    margin-top: 50px;
}
.rocket {
    margin-top: 50px;
}
.cap:hover{
    background-color: #000080;
    color: white;
}
.map:hover {
    background-color: #000080;
    color: white;
}
.arrow:hover {
    background-color: #000080;
    color: white;
}
.idea:hover {
    background-color: #000080;
    color: white;
}
.rocket:hover {
     background-color: #000080;
    color: white;
}
h1{
    margin-top: 50px;
}
.product{
    border-color: #000080;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 300px;
    height: 300px;
    text-align: center;
    margin-left: 525px;
}

.poll-container {
    background-color: white;
    color: black;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 15px;
}

label {
    display: block;
    margin: 10px 0;
}
button {
    margin-top: 15px;
    padding: 10px;
    width: 100px;
    background-color: #000080;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

textarea {
    margin-top: 15px;
    width: 300px;
    height: 50px;
}
.cta {
    text-align: center;
}