nav {
    text-align: right;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

h1{
    text-align: center;
}
.logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.logo {
  background-color: navy;
  color:white;
  font-size: 24px;
  text-align: center;
  line-height: 100px;
  width: 50px;
  height: 50px;
  border-radius:50%;
}
.companyname{
   display: inline; 
   font-family: poppins,sans-serif;
   font-size: 1.5rem;
   font-weight: 600;
   color: navy;
   align-items: center;
   justify-content: center;
   gap: 15px;
}
.gif1{
    width: 500px;
   
    border-radius: 20px;
    margin-left: 30px;
        box-shadow: 0 8px 16px navy;

}
.gif2{
    width: 500px;

    border-radius: 20px;
    margin-left: 30px;
        box-shadow: 0 8px 16px navy;

}
.gif3{
    width: 500px;
   
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 0 8px 16px navy;
    }
.hero {
    display: flex;
    align-items: center;
    gap: 12px;
}
.set {
    display: flex;
    align-items: center;
    gap: 12px;
}
.put{
    display: flex;
    align-items: center;
    gap: 12px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: navy;
    color: white;
    font-family: ppoppins,sans-serif;
    border-radius: 20px;

}
address {
    background-color: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 8px 16px navy;
  font-family: 'Poppins', sans-serif;

}
address a {
    color: navy;
    text-decoration: none;
}




/* jayashreepage */

img,span,nav,a {
    display: inline;
}

nav {
    margin-left: 60%;
}

a:hover{
    color: lightgrey;
    cursor: pointer;
}


.box {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 1000px;
    
}

.first {
    vertical-align: middle;
    width: 250px;
    height: 300px;
    display: inline;
    
}
.one {
    vertical-align: middle;
    display: inline; 
    
}
.cap {
    border-color: #000080;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 300px;
    height: 400px;
}
.map {
   border-color: #000080;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 300px;
    height: 400px;
}
.arrow {
    border-color: #000080;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 300px;
    height: 400px;
}
.idea {
    border-color: #000080;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 300px;
    height: 400px;
}
.rocket {
    border-color: #000080;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 300px;
    height: 400px;
}
.features {
    text-align: center;
}
.cap {
    margin-right: 100px;
    margin-top: 50px;
    
}
.map {
    margin-left: 100px;
    margin-top: 50px;
}
.arrow {
    margin-right: 100px;
    margin-top: 50px;
}
.idea {
    margin-left: 100px;
    margin-top: 50px;
}
.rocket {
    margin-top: 50px;
}
.cap:hover{
    background-color: #000080;
    color: white;
}
.map:hover {
    background-color: #000080;
    color: white;
}
.arrow:hover {
    background-color: #000080;
    color: white;
}
.idea:hover {
    background-color: #000080;
    color: white;
}
.rocket:hover {
     background-color: #000080;
    color: white;
}

h1{
    margin-top: 50px;
}
